

<div class = "container">
  
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Rohit Kumar Pandey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/databinding">DataBinding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/masterdetail">MasterDetails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sharedata">share-data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errorhandler">ErrorHandler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Attributedemo">Attributedemo</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/rxjs">RaJX</a>
        </li> -->
        <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" routerLink='/allSubject' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 RxJS
 </a>
 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
 <a class="dropdown-item" href="rxjs">Replay subject</a>
 <a class="dropdown-item" href="behaviour">Behaviour Subject</a>
 
 <a class="dropdown-item" href="replay"> Subject</a>
 <a class="dropdown-item" href="async">Async Subject</a>
 </div>
 </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">login</a>
        </li>
 
      </ul>
      
      
    </div>
  </nav>
  <router-outlet></router-outlet>







  
<!-- <div class="container">
  <div class="header">
    <h1>{{title}}</h1>
  </div>
 


  <div class="row">
  
    <div class="col-md-2">
      <button class="btn btn-danger" (click)='showdemo()'>T-shirt (Data Binding) </button>
    </div>
    
    <div class="col-md-2">
      <button class="btn btn-success" (click)='showProductComponent()'>Product Details</button>
    </div>
  
    
    <div class="col-md-2">
      <button class="btn btn-warning" (click)='showpurchase()'>Master Details</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)='showcomponents()'>share data</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)='showdirective()'>directive</button>
    </div>
 
  </div> -->
  <!-- <br>
 <br>
  <div class="row">
    <app-aloo *ngIf="isDataBindingVisible"></app-aloo>
    <app-product *ngIf="isProductComponentVisible"></app-product>
    <app-purchase *ngIf="showPurchase"></app-purchase>
    <app-Directive *ngIf="showDirective"></app-Directive>
    <div class="col-md-6">
    <app-component1 *ngIf="showcomponent1"></app-component1>
</div> -->



