<div class="container">
  <br>
  <br>
  <div class="row">
    <br>
    <div class="col-md-4">
      <br>
      <button (click)='subscribe1()' class="btn  btn-info">Subscriber 1 </button>
      <hr />
      <div *ngFor="let p of observer1">
        <p class="data1"> {{p}}</p>
      </div>
      <div *ngIf="showObserver1">
        complete
      </div>
    </div>
    <br>
    <div class="col-md-4">
      <br>
      <button (click)='susbcribe2()' class="btn  btn-info">Subscriber 2 </button>
      <hr />
      <div *ngFor="let p of observer2">
        <p class="data2"> {{p}}</p>
      </div>
      <div *ngIf="showObserver2">
        complete
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <br>
      <button (click)='susbcribe3()' class="btn  btn-info">Subscriber 3 </button>
      <hr />
      <div *ngFor="let p of observer3">
        <p class="data3"> {{p}}</p>
      </div>
      <div *ngIf="showObserver3">
        complete
      </div>
    </div>
  
  
  </div>
  
  </div>