<!-- <!-- <br>

<input type="text"  name="fname"[(ngModel)]="input1"><br><br> 
<button class="btn btn-success" (click)='sendData()'> Set Price</button>


 -->

   <!-- <form>
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="password" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Expiry Date</label>
          <input type="password" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantity</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">In Stock</label>
            <input type="password" class="form-control" id="exampleInputPassword1" >
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form> -->



      <!-- <input type="text"  name="fname" [(ngModel)] = "input1"><br><br>
<button class="btn btn-success" (click) = 'sendData()'>Set Price</button>
       -->
       <!-- <form (ngSubmit) = 'updateProduct()' [formGroup] ='productEditionForm' novalidate class="form">
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input formControlName ='Id' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input formControlName ='TItle' type="password" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input formControlName ='Price' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Expiry Date</label>
          <input formControlName ='Quantity'type="password" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantity</label>
            <input formControlName ='ExpiryDate'type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">In Stock</label>
            <input formControlName ='inStock' type="password" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" [disabled]= 'productEditionForm.invalid' class="btn btn-danger">Update Product</button>
          <button type="button" (click)= 'cancel()' class="btn btn-info">Cancel</button>
    </form> -->


    <!-- <div class="container">
<br> -->
    <!-- <div style="float: left;">
        <input type="text"[(ngModel)]="input1" class="form-control form-control-lg my-3">
        <br>
        <div class="row justify-content-center my-3"><button class="btn btn-primary my-2" (click)='sendData()'>SetPrice</button>
        </div> -->
        
        <!-- <form ng>
            <div class="form-group">
              <label for="exampleInputEmail1">ID</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Title</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Price</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Expiry Date</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Quantity</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">In Stock</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    <app-child2></app-child2>
</div> -->
<!-- <div class="conatiner mx-4">
  <br>
  <div style="width: 50%; float: left;" >
 
      <form (ngSubmit)='updateProduct()' [formGroup]='productEditForm' novalidate class="form">
          <input formControlName='Id' class="form-control form-control-lg" type="text">
          <input formControlName='Title' class="form-control form-control-lg" type="text">
          <input formControlName='Price' class="form-control form-control-lg" type="text">
          <input formControlName='Quantity' class="form-control form-control-lg" type="text">
          <input formControlName='ExpiryDate' class="form-control form-control-lg" type="text">
          <input formControlName='inStock' class="form-control form-control-lg" type="text" >
          <button type= "submit" [disabled]='productEditForm.invalid' class="btn btn-primary mb-2">Update Product</button>
      
      </form> -->







 
          <!-- <input type="text" [(ngModel)]="input1" class="form-control form-control-lg">
      <br>
      <div class="row justify-content-center"><button class="btn btn-primary mb-2" (click)='sendData()'>Send Data</button></div> -->
 
  <!-- </div>
  <app-child2></app-child2>
  <div style="height: 720px;"></div>
  
</div> -->

 


<br>
 
<div class = 'row'>
    
    <form (ngSubmit)='updateProduct()' [formGroup] = "productEditForm" novalidate class ="form">
      
      <input formControlName='Id'
            type='number'
            class='form-control'/>
           
  <div class ="alert alert-danger" *ngIf="productEditForm?.get('Id')?.hasError('required') && productEditForm?.get('Id')?.touched">
            Id is Required
        </div>
        <h4>Id</h4>
        

<!-- <br> -->
      
    <input formControlName='Title'
        type='text'
        class='form-control' />
 
    <div class ="alert alert-danger" *ngIf="!productEditForm?.get('Title')?.valid && productEditForm?.get('Title')?.touched">
        Title is Required
    </div>
    <h4> Title</h4>
    
<!-- <br> -->
    
    <input formControlName='Price'
            type='number'
            class='form-control'/>
   
            <div class="alert alert-danger" *ngIf="productEditForm?.get('Price')?.dirty && productEditForm?.get('Price')?.errors && productEditForm?.get('Price')?.priceRange">
              price should be greater than {{min}} and less than {{max}} years
          </div>
          <h4>Price</h4>
          
            
            
            <!-- <div class ="alert alert-danger" *ngIf="!productEditForm?.get('Price')?.valid && productEditForm?.get('Price')?.touched">
                Valid Price is Required
            </div> -->
       <!-- <br> -->
       <input formControlName='ExpiryDate'
        type='string'
        class='form-control'/>
        <h4>ExpiryDate</h4>
               
    <input formControlName='Quantity'
        type='number'
        class='form-control'/>
        <div class="alert alert-danger" *ngIf="productEditForm?.get('Quantity')?.dirty && productEditForm?.get('Quantity')?.errors && productEditForm?.get('Quantity')?.touched">
          Quantity should be greater than {{qmin}} and less than {{qmax}} 
      </div>
      <h4>Quantity</h4> 
     <!-- <br> -->
        
    
 
       
       
 <!-- <input formControlName='InStock'
        type='boolean'
        class='form-control'/>
        <div class="alert alert-danger" *ngIf="productEditForm?.get('InStock')?.dirty && productEditForm?.get('InStock')?.errors && productEditForm?.get('InStock')?.touched">
           Quantity should be greater than {{qmin}} and less than {{qmax}}  -->
      <!-- </div>
      <h4>InStock</h4> --> 
 
    <!-- <br> -->
    <button [disabled] = 'productEditForm.invalid' class="btn btn-primary btn-block">Update</button>
    
    </form>
</div>
<!-- <footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3" style="color: grey;">
      <h5>Explanation :</h5>
      This Demo is implemented with the help of Structure directive and displaying the data of purchaser and their
      items purchased.
  </div>
</footer> -->