
<br>
<br>
<br>
<div class="row">

  <div class="col-md-2"></div>  
    <div class="col-md-4">
    Change Height : <input type="number"[(ngModel)] = "height">
    </div>
   

    <div class="col-md-4">
    Change Width :  <input type="number"[(ngModel)] = "width">
    </div>
  </div>
  
  
  <br>
  <br>
  
   
  <div class="row">
    <div class="col-md-4">
   
    </div>
    <div class="col-md-4">
      
  <img  (mouseenter)="changeTshirtMouseEnter()" (mouseleave)= "changeTshirtMouseExit()" [src]='imgSource' [style.height.px] = 'height' [style.width.px] = 'width' class= "img img-fluid">
   
    </div>
    <div class="col-md-4">
   
    </div>
  </div>
  