<!-- <div style="float: -right;">
    Id :{{product.Id}}<br>
    Price :{{product.Price}}<br>
    Title :{{product.Title}}<br>
    ExpiryDate :{{product.ExpiryDate}}<br>
    isInStock :{{product.isInstock}}<br>
    Quantity:{{product.Quantity}}<br>
    </div> -->


<br>


    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Id
                    </th>
                    <th >
                        Title
                    </th>
                    <th >
                        Price
                    </th>
                    <th >
                        Expiry Date
                    </th>
                    <th >
                        Quantity
                    </th>
                   
     
                </tr>
            </thead>
            <tbody>
                
                    <td>{{product.Id}}</td>
                    <td>{{product.Title}}</td>
                    <td>{{product.Price | currency :"INR"}}</td>
                    <td>{{product.ExpiryDate | date}}</td>
                    <td>{{product.Quantity}}</td>
                    <!-- <td>{{product.isInstock}}</td> -->
              
            </tbody>
        </table>
    </div>