
<br>
<br>
<br>
<div class="row">
<hr/>
   
    <div class="col-md-6">
    Change Height : <input type="number"[(ngModel)] = "height">

    </div>
   

    <div class="col-md-6">
    Change Width :  <input type="number"[(ngModel)] = "width">
    </div>
  </div>
  
  
  <br>
  <br>
  
  <!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Dark color background
  </a>  -->

  <div class="row">
    <div class="col-md-3">
   
    </div>
    <div class="col-md-3">
      
  <img  (mouseenter)="changeTshirtMouseEnter()" (mouseleave)= "changeTshirtMouseExit()" [src]='imgSource' [style.height.px] = 'height' [style.width.px] = 'width' class= "img img-fluid">
   
    </div>
    <div class="col-md-3">
      <!-- <button (click)= "generate()" >Generate Error </button> -->
    </div>
  </div>
  <div class="footer">
    <hr>
    <p class="text-info">This uses Data-Binding</p>
    
  </div>