<div>
    <h1>{{PurchaseItem.Name}}</h1>
    <p class="lead">Vendor : {{PurchaseItem.VenderName}} | Purchase Date : {{PurchaseItem.Date}}</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th> Title </th>
                <th> Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of PurchaseItem.Item">
                <td class='value-center'>{{i.Title}}</td>
                <td class='value-center'>{{i.Price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<p class="lead">
<a class="btn pull-right btn-danger" href="#" role="button">Total Cost {{Price}},Place Order</a>
</p>