
<br>
<div class="row">
    <div class="col-md-6">
<input type="text" [(ngModel)] = "searctext" placeholder="Enter title">
</div>
<div class="col-md-4">
<input type="text" [(ngModel)] = "filterprice" placeholder="Enter Price">

</div>
</div>
<br>
<div class="row">

   <table class="table">
       <thead>
           <tr>
               <th>
                   Id
               </th>   
                <th>
                    Title
                </th> 
                <th>
                   Price
                </th>   
                <th>
                   Expirydate
                </th>
                <th>
                    Quantity
                </th>  
                <th>
                     inStock
                </th>  
              </tr>
            </thead>  
        <tbody>
            <tr *ngFor= "let p of products | productsearch : searctext | custompipe : filterprice">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price}}</td>
                <td>{{p.ExpiryDate}}</td>
                <td>{{p.Quantity}}</td>
                <td>
                    <ng-container *ngIf="p.isInstock; then instock else outofstock">
                    </ng-container>
                    <ng-template #instock>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        </ng-template>
 
                        <ng-template #outofstock>
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <button class="btn btn-default">Order Now</button>    
                        </ng-template>
                </td>
            </tr>
        </tbody>
    </table>     
</div>


<h1 class="text-center">Angular Material Table</h1>
<hr>
<br>
<div class="col-md-12">
<table mat-table [dataSource]="products" class="mat-elevation-z8">
<ng-container matColumnDef="ID">
<th mat-header-cell *matHeaderCellDef> ID </th>
<td mat-cell *matCellDef="let user"> {{user.Id}} </td>
</ng-container>
<ng-container matColumnDef="TITLE">
<th mat-header-cell *matHeaderCellDef> TITLE </th>
<td mat-cell *matCellDef="let user"> {{user.Title}} </td>
</ng-container>
<ng-container matColumnDef="Price">
<th mat-header-cell *matHeaderCellDef> Price </th>
<td mat-cell *matCellDef="let user"> {{user.Price}} </td>
</ng-container>
<ng-container matColumnDef="ExpiryDate">
<th mat-header-cell *matHeaderCellDef> ExpiryDate </th>
<td mat-cell *matCellDef="let user"> {{user.ExpiryDate}} </td>
</ng-container>
<ng-container matColumnDef="Quantity">
<th mat-header-cell *matHeaderCellDef> Quantity </th>
<td mat-cell *matCellDef="let user"> {{user.Quantity}} </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>



<!-- <div class="footer">
    <p>In this demo we have used Structural Directives to display the data in the structural format 
        in the Dom . We have used a service to fetch the data as well as a custom pipe to filter the data on the 
    basis of price and title</p>
  </div> -->

                
