<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
<div class="col-md-6">
    <!-- <app-component2 *ngIf="showcomponent2"></app-component2> -->
    <input type="text" [(ngModel)]='c'/>
  </div>
<div class="col-md-6">    
     <div appChangecolor [p]='c'> Move Mouse over me </div>
  </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <div class="footer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <br>
    <hr/>
    <p class="text-info">This demo is based on Attribute Directive. Attribute Directive based on three keyword.</p>
    <p class="text-info">Host</p>
    <p class="text-info">Host Binding</p>
    <p class="text-info">Host Listener</p>

</div>