<br>
 
<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
        <h1 class = "text-center" > Angular Project Demo</h1>
        </div>

    </div>      
  </div>
  <hr/>
  <h2 class="text-center">Rohit kumar Pandey</h2>
  <h2 class="text-center">Associate Software Engineer Trainee</h2>
  <hr/>
  <div class="row">
  <div class="col-md-6">
    <br>
    <h1 class=" text-dark">Index</h1>
    <ol>
        <li> <a routerLink = "/login">Login</a> </li>
        <li> <a routerLink = "/databinding">Data-Binding</a> </li>
        <li> <a routerLink = "/products">Product</a> </li>
        <li> <a routerLink = "/masterdetail">Master Details</a> </li>
        <li> <a routerLink = "/Attributedemo">Attribute Directive</a> </li>
        <li> <a routerLink = "/sharedata">Data Sharing</a> </li>
        <li> <a routerLink = "/errorhandler">Error Handling</a> </li>
    </ol>
</div>
<div class="col-md-5">
    <br>
    <img src = "../assets/angular.jpg">
</div>
</div>